In [3]:
import sqlite3
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    query = """
    CREATE Table Books(Title text, Author text, Year_Published int, Genre text)
    """
    cursor.execute(query)

In [7]:
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    values = (
        ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
        ('1984', 'George Orwell', 1949, 'Dystopian'),
        ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic')
    )
    
    cursor.executemany("INSERT INTO Books VALUES(?, ?, ?, ?)", values)

In [8]:
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    query = """
    UPDATE Books
    SET Year_Published = 1950
    where Title = '1984';
    """
    cursor.execute(query)

In [9]:
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    query = """
    SELECT Title, Author
    FROM Books
    where Genre = 'Dystopian';
    """
    books = cursor.execute(query)

books.fetchall()

[('1984', 'George Orwell')]

In [10]:
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    query = """
    DELETE From Books
    where Year_Published < 1950
    """
    cursor.execute(query)

In [12]:
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    query = """
    ALTER TABLE Books
    ADD Column Rating FLOAT;
    UPDATE Books
    SET Rating = 4.8
    where Title = 'To Kill a Mockingbird';
    UPDATE Books 
    SET Rating = 4.7
    where Title = '1984';
    """
    cursor.executescript(query)

In [13]:
with sqlite3.connect("library.db") as con:
    cursor = con.cursor()
    query = """
    Select * FROM Books
    ORDER BY Year_Published ASC;
    """
    books = cursor.execute(query)

books.fetchall()

[('1984', 'George Orwell', 1950, 'Dystopian', 4.7),
 ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8)]