In [1]:
import sqlite3
with sqlite3.connect('roaster.db') as con:
    cursor = con.cursor()
    query = """Create table Roaster(Name text, Species text, Age int)"""
    cursor.execute(query)

In [8]:
with sqlite3.connect('roaster.db') as con:
    cursor = con.cursor()
    query = """
    INSERT INTO Roaster VALUES
    ('Benjamin Sisko',	'Human', 40),
    ('Jadzia Dax', 'Trill',	300),
    ('Kira Nerys',	'Bajoran',	29);
    """
    cursor.executescript(query)

In [9]:
with sqlite3.connect('roaster.db') as con:
    cursor = con.cursor()
    query = """
    UPDATE Roaster 
    SET Name = 'Ezri Dax'
    where Name='Jadzia Dax';
    """
    cursor.execute(query)

In [10]:
with sqlite3.connect('roaster.db') as con:
    cursor = con.cursor()
    query = """ 
    SELECT Name, Age from Roaster
    where Species = 'Bajoran';
    """
    data = cursor.execute(query)
data.fetchall()

[('Kira Nerys', 29)]

In [11]:
with sqlite3.connect('roaster.db') as con:
    cursor = con.cursor()
    query = """ 
    DELETE FROM Roaster
    where Age>100;
    """
    cursor.execute(query)

In [12]:
with sqlite3.connect('roaster.db') as con:
    cursor = con.cursor()
    query = """ 
    ALTER TABLE Roaster
    ADD COlUMN Rank text;
    UPDATE Roaster
    SET Rank = 'Captain'
    where Name = 'Benjamin Sisko';
    UPDATE Roaster
    SET Rank = 'Lieutenant'
    where Name = 'Ezri Dax';
    UPDATE Roaster
    SET Rank = 'Major'
    where Name = 'Kira Nerys';
    """
    cursor.executescript(query)

In [19]:
with sqlite3.connect('roaster.db') as con:
    cursor = con.cursor()
    query = """ 
    SELECT * FROM Roaster
    ORDER BY Age DESC;
    """
    data = cursor.execute(query)

data.fetchall()

[('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Kira Nerys', 'Bajoran', 29, 'Major')]